Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Plugins/AIforNPC1a382f55e9e1V6/Source/ThirdParty/gRPC/lib/android/arm64-v8a/libgrpc.a
Plugins/AIforNPC1a382f55e9e1V6/Source/ThirdParty/gRPC/lib/android/arm64-v8a/libgrpc_unsecure.a
Plugins/AIforNPC1a382f55e9e1V6/Source/ThirdParty/gRPC/lib/android/armeabi-v7a/libgrpc.a
Plugins/AIforNPC1a382f55e9e1V6/Source/ThirdParty/gRPC/lib/android/x86_64/libgrpc.a
Plugins/AIforNPC1a382f55e9e1V6/Source/ThirdParty/gRPC/lib/android/x86_64/libgrpc_unsecure.a
Plugins/Developer/RiderLink/
